@mixin tabs {
  .tabs__nav-btn--active {
    color: #ff0001;
  }
  .tabs__nav-btn{
    width: 80px;
    height: 50px;
  }
  .tabs__panel {
    display: none;
  }

  .tabs__panel--active {
    display: block;
  }
}
