<div class="archive archive-classic">
  <div class="card card-small">
    <img src="./img/robot.png" alt="top-material-img" />
    <div class="card-small__tags">
      <div class="card__tag">
        <div class="card__tag-disc"></div>
        Инфографика
      </div>
      <div class="card__tag-sponsor">Материал спонсирован</div>
    </div>
    <div>
      <div class="card-big__tags">
        <div class="card__tag">
          <div class="card__tag-disc"></div>
          Инфографика
        </div>
        <div class="card__tag-sponsor">Материал спонсирован</div>
      </div>
      <h3 class="card__title">В роговице обнаружены патрульные Т-лимфоциты</h3>
      <p class="card__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <div class="card__additional card__additional-small">
        28.06.2022 | Лев Рублёв
        <div class="separator">|</div>
        <span class="flex items-center">
          <svg class="w-[15px] h-[15px] mr-1">
            <use xlink:href="img/sprite.svg#see"></use>
          </svg>
          192 |
          <svg class="w-[15px] h-[15px] mx-1">
            <use xlink:href="img/sprite.svg#t"></use>
          </svg>
          1,6
        </span>
        <div class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica">
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center"
          >
            Биология
          </p>
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center"
          >
            Энтомология
          </p>
          <p
            class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
          >
            +2
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-small">
    <img src="./img/robot.png" alt="top-material-img" />
    <div class="card-small__tags">
      <div class="card__tag">
        <div class="card__tag-disc"></div>
        Инфографика
      </div>
      <div class="card__tag-sponsor">Материал спонсирован</div>
    </div>
    <div>
      <div class="card-big__tags">
        <div class="card__tag">
          <div class="card__tag-disc"></div>
          Инфографика
        </div>
        <div class="card__tag-sponsor">Материал спонсирован</div>
      </div>
      <h3 class="card__title">В роговице обнаружены патрульные Т-лимфоциты</h3>
      <p class="card__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <div class="card__additional card__additional-small">
        28.06.2022 | Лев Рублёв
        <span class="flex items-center">
          <svg class="w-[15px] h-[15px] mr-1">
            <use xlink:href="img/sprite.svg#see"></use>
          </svg>
          192 |
          <svg class="w-[15px] h-[15px] mx-1">
            <use xlink:href="img/sprite.svg#t"></use>
          </svg>
          1,6
        </span>
        <div class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica">
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center"
          >
            Биология
          </p>
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center"
          >
            Энтомология
          </p>
          <p
            class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
          >
            +2
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-small">
    <img src="./img/robot.png" alt="top-material-img" />
    <div class="card-small__tags">
      <div class="card__tag">
        <div class="card__tag-disc"></div>
        Инфографика
      </div>
      <div class="card__tag-sponsor">Материал спонсирован</div>
    </div>
    <div>
      <div class="card-big__tags">
        <div class="card__tag">
          <div class="card__tag-disc"></div>
          Инфографика
        </div>
        <div class="card__tag-sponsor">Материал спонсирован</div>
      </div>
      <h3 class="card__title">В роговице обнаружены патрульные Т-лимфоциты</h3>
      <p class="card__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <div class="card__additional card__additional-small">
        28.06.2022 | Лев Рублёв

        <span class="flex items-center">
          <svg class="w-[15px] h-[15px] mr-1">
            <use xlink:href="img/sprite.svg#see"></use>
          </svg>
          192 |
          <svg class="w-[15px] h-[15px] mx-1">
            <use xlink:href="img/sprite.svg#t"></use>
          </svg>
          1,6
        </span>
        <div class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica">
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center"
          >
            Биология
          </p>
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center"
          >
            Энтомология
          </p>
          <p
            class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
          >
            +2
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-small">
    <img src="./img/robot.png" alt="top-material-img" />
    <div class="card-small__tags">
      <div class="card__tag">
        <div class="card__tag-disc"></div>
        Инфографика
      </div>
      <div class="card__tag-sponsor">Материал спонсирован</div>
    </div>
    <div>
      <div class="card-big__tags">
        <div class="card__tag">
          <div class="card__tag-disc"></div>
          Инфографика
        </div>
        <div class="card__tag-sponsor">Материал спонсирован</div>
      </div>
      <h3 class="card__title">В роговице обнаружены патрульные Т-лимфоциты</h3>
      <p class="card__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <div class="card__additional card__additional-small">
        28.06.2022 | Лев Рублёв
        <span class="flex items-center">
          <svg class="w-[15px] h-[15px] mr-1">
            <use xlink:href="img/sprite.svg#see"></use>
          </svg>
          192 |
          <svg class="w-[15px] h-[15px] mx-1">
            <use xlink:href="img/sprite.svg#t"></use>
          </svg>
          1,6
        </span>
        <div class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica">
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center"
          >
            Биология
          </p>
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center"
          >
            Энтомология
          </p>
          <p
            class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
          >
            +2
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-small">
    <img src="./img/robot.png" alt="top-material-img" />
    <div class="card-small__tags">
      <div class="card__tag">
        <div class="card__tag-disc"></div>
        Инфографика
      </div>
      <div class="card__tag-sponsor">Материал спонсирован</div>
    </div>
    <div>
      <div class="card-big__tags">
        <div class="card__tag">
          <div class="card__tag-disc"></div>
          Инфографика
        </div>
        <div class="card__tag-sponsor">Материал спонсирован</div>
      </div>
      <h3 class="card__title">В роговице обнаружены патрульные Т-лимфоциты</h3>
      <p class="card__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <div class="card__additional card__additional-small">
        28.06.2022 | Лев Рублёв
        <span class="flex items-center">
          <svg class="w-[15px] h-[15px] mr-1">
            <use xlink:href="img/sprite.svg#see"></use>
          </svg>
          192 |
          <svg class="w-[15px] h-[15px] mx-1">
            <use xlink:href="img/sprite.svg#t"></use>
          </svg>
          1,6
        </span>
        <div class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica">
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center"
          >
            Биология
          </p>
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center"
          >
            Энтомология
          </p>
          <p
            class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
          >
            +2
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-small">
    <img src="./img/robot.png" alt="top-material-img" />
    <div class="card-small__tags">
      <div class="card__tag">
        <div class="card__tag-disc"></div>
        Инфографика
      </div>
      <div class="card__tag-sponsor">Материал спонсирован</div>
    </div>
    <div>
      <div class="card-big__tags">
        <div class="card__tag">
          <div class="card__tag-disc"></div>
          Инфографика
        </div>
        <div class="card__tag-sponsor">Материал спонсирован</div>
      </div>
      <h3 class="card__title">В роговице обнаружены патрульные Т-лимфоциты</h3>
      <p class="card__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <div class="card__additional card__additional-small">
        28.06.2022 | Лев Рублёв
        <span class="flex items-center">
          <svg class="w-[15px] h-[15px] mr-1">
            <use xlink:href="img/sprite.svg#see"></use>
          </svg>
          192 |
          <svg class="w-[15px] h-[15px] mx-1">
            <use xlink:href="img/sprite.svg#t"></use>
          </svg>
          1,6
        </span>
        <div class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica">
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center"
          >
            Биология
          </p>
          <p
            class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center"
          >
            Энтомология
          </p>
          <p
            class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
          >
            +2
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
