<div class="fixed right-5 bottom-5">
  <div class="graph-modal">
    <div
      class="graph-modal__container"
      role="dialog"
      aria-modal="true"
      data-graph-target="articles"
    >
      <button
        class="btn-reset js-modal-close graph-modal__close"
        aria-label="Закрыть модальное окно"
      ></button>
      <div class="graph-modal__content relative">
        <div
          class="flex-col w-full transition-all duration-500 font-helvetica mb-8"
        >
          <p class="text-[#5F626F] text-xl leading-7 mb-7">
            &#8592; Вернуться к поиску
          </p>

          <span class="text-2xl leading-7 text-[#9799A5]">
            НАВИГАЦИЯ ПО СТРАНИЦЕ</span
          >
          <div class="flex flex-col gap-5 text-xl mt-8">
            <p class="text-[#5F626F] font-medium">
              Британские ученые опять что-то доказали
            </p>
            <p class="text-[#9799A5]">Лимфоциты на страже здоровья глаз</p>

            <p class="text-[#9799A5]">Роговица в ежовых рукавицах</p>
          </div>
        </div>
        <div class="">
          <a href="#start" class="text-[#556583] text-xl">В начало &#8593;</a>
        </div>
      </div>
      <div class="tabs block" data-tabs="tab2">
        <ul class="list-reset tabs__nav">
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">
              <svg class="w-5 h-5">
                <use xlink:href="img/sprite.svg#warning-tab"></use>
              </svg>
            </button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">
              <svg class="w-5 h-5">
                <use xlink:href="img/sprite.svg#interface"></use>
              </svg>
            </button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">
              <svg class="w-5 h-5">
                <use xlink:href="img/sprite.svg#file"></use>
              </svg>
            </button>
          </li>
        </ul>
        <div class="tabs__content">
          <div class="tabs__panel"></div>
          <div class="tabs__panel">asd</div>
          <div class="tabs__panel">
            <p class="text-xl text-[#9799A5] mt-9">ПОХОЖИЕ МАТЕРИАЛЫ</p>
            <div class="mt-6">
              <h3 class="font-semibold text-xl text-[#323232] mt-5">
                В роговице обнаружены патрульные Т-лимфоциты
              </h3>
              <p class="text-[#52525B] text-lg mt-2">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
              </p>
              <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
                Автор: Константин константинов
                <span class="flex items-center font-inter">
                  28.06.2022 | 192
                  <svg class="w-[15px] h-[15px]">
                    <use xlink:href="img/sprite.svg#see"></use>
                  </svg>
                  | 1600 слов
                </span>
                <div
                  class="text-[#9799A5] mt-3 gap-2 grid grid-flow-col font-helvetica"
                >
                  <p
                    class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
                  >
                    Психология
                  </p>
                  <p
                    class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                  >
                    Психология
                  </p>
                  <p
                    class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                  >
                    +2
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-6">
              <h3 class="font-semibold text-xl text-[#323232] mt-5">
                В роговице обнаружены патрульные Т-лимфоциты
              </h3>
              <p class="text-[#52525B] text-lg mt-2">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
              </p>
              <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
                Автор: Константин константинов
                <span class="flex items-center font-inter">
                  28.06.2022 | 192
                  <svg class="w-[15px] h-[15px]">
                    <use xlink:href="img/sprite.svg#see"></use>
                  </svg>
                  | 1600 слов
                </span>
                <div
                  class="text-[#9799A5] mt-3 gap-2 grid grid-flow-col font-helvetica"
                >
                  <p
                    class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
                  >
                    Психология
                  </p>
                  <p
                    class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                  >
                    Психология
                  </p>
                  <p
                    class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                  >
                    +2
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="bg-white rounded-full h-10 w-10 flex-center shadow-md cursor-pointer absolute bottom-5 right-5 hover:bg-black/5 transition-all duration-500 2xl:hidden"
    data-graph-path="articles"
  >
    <a href="#footer">
      <svg class="w-8 h-8">
        <use xlink:href="img/sprite.svg#question"></use>
      </svg>
    </a>
  </button>
</div>
