<section id="articles" class="mt-24 wrapper">
  <div class="w-full flex items-center flex-wrap xs:flex-nowrap relative">
    <div
      class="w-[20px] h-[20px] rounded-full bg-[#F83A95] hidden lg:block absolute -left-[29px] xl:-left-10"
    ></div>
    <h2 class="title xs:whitespace-nowrap">Статьи</h2>
    <span
      class="h-[1px] bg-[#9799A5] w-full ml-8 opacity-50 hidden xs:block"
    ></span>
    <button class="xs:ml-8 see-button">
      <svg
        class="w-[40px] h-[40px] opacity-0 hidden transition-all duration-300"
      >
        <use xlink:href="img/sprite.svg#eye"></use>
      </svg>
      <svg class="w-[40px] h-[40px] opacity-100 transition-all duration-300">
        <use xlink:href="img/sprite.svg#unsee"></use>
      </svg>
    </button>
  </div>
  <div
    class="accordion-content grid grid-cols-1 lg:grid-cols-2 overflow-hidden lg:overflow-visible gap-0 lg:gap-5 xl:gap-24 transition-all duration-700 ease-in-out grid-rows-[1fr] opacity-100 relative"
  >
    <div
      class="w-[2px] lg:h-[122%] lg-xl:h-[122%] 2xl:h-[124%] bg-linear-pink-red hidden lg:block absolute lg:-left-[20px] xl:-left-[30px] -top-7 z-[999]"
    ></div>
    <div class="flex flex-col overflow-hidden">
      <p class="mt-3 text-base text-[#9CA3AF]">
        Выбранные Тэги для данной категории материала
      </p>
      <div class="flex text-[#9799A5] mt-3 flex-wrap gap-4">
        <p
          class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer font-helvetica"
        >
          Биология
        </p>
        <p
          class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
        >
          Фармакология
        </p>
        <p
          class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center font-helvetica"
        >
          Психология
        </p>
        <p
          class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
        >
          Энтомология
        </p>

        <p
          class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
        >
          +
        </p>
      </div>
      <div class="mt-8 relative flex flex-col">
        <img src="./img/post.png" alt="medic" />
        <div class="absolute left-1 top-1 flex gap-[6px]">
          <div
            class="px-2 h-[30px] bg-[#F1BAEC] border-[#F83A95] border-2 rounded-lg flex flex-center cursor-pointer font-helvetica"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#F83A95] m-0 mr-2 p-0"
            ></div>
            Статья
          </div>
          <div
            class="px-2 h-[30px] bg-white border-[#323232] border-2 rounded-lg flex flex-center cursor-pointer font-helvetica"
          >
            <img
              class="w-[18px] h-[16px] bg-white mr-[5px]"
              src="../img/svg/redaction-dark.svg"
              alt="redaction choice"
            />
            Выбор Редакции
          </div>
        </div>
        <h3 class="font-semibold text-[27px] text-[#323232] mt-5">
          CAR-T-клетки как краеугольный камень в терапии рака простаты
        </h3>
        <p class="text-[#52525B] text-lg">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet. Amet minim mollit non deserunt
          ullamco est sit aliqua dolor do amet sint. Velit officia consequat
          duis enim velit mollit. Exercitation veniam consequat sunt nostrud
          amet.
        </p>
        <div class="mt-7 text-[#9799A5] text-[17px] font-normal">
          Автор: Константин константинов
          <span class="flex items-center text-[12px] xl:text-[17px] font-inter">
            28.06.2022 | 192
            <svg class="w-[15px] h-[15px]">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>

            | 1600 слов
          </span>
          <div class="text-[#9799A5] mt-3 gap-2 flex flex-wrap">
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex items-center lg:items-start justify-center flex-col overflow-hidden"
    >
      <p class="mt-16 lg:mt-28 lg-xl:mt-14 text-lg font-medium font-helvetica">
        Все статьи &#8594;
      </p>
      <div class="mt-[14px] relative flex flex-col">
        <img src="./img/post.png" alt="medic" />
        <div class="absolute left-1 top-1 flex gap-[6px]">
          <div
            class="px-2 h-[30px] bg-[#F1BAEC] border-[#F83A95] border-2 rounded-lg flex flex-center cursor-pointer font-helvetica"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#F83A95] m-0 mr-2 p-0"
            ></div>
            Статья
          </div>
          <div
            class="px-2 h-[30px] bg-white border-[#323232] border-2 rounded-lg flex flex-center cursor-pointer font-helvetica"
          >
            <img
              class="w-[18px] h-[16px] bg-white mr-[5px]"
              src="../img/svg/redaction-dark.svg"
              alt="redaction choice"
            />
            Выбор Редакции
          </div>
        </div>
        <h3 class="font-semibold text-[27px] text-[#323232] mt-5">
          CAR-T-клетки как краеугольный камень в терапии рака простаты
        </h3>
        <p class="text-[#52525B] text-lg">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet. Amet minim mollit non deserunt
          ullamco est sit aliqua dolor do amet sint. Velit officia consequat
          duis enim velit mollit. Exercitation veniam consequat sunt nostrud
          amet.
        </p>
        <div class="mt-7 text-[#9799A5] text-[17px] font-normal">
          Автор: Константин константинов
          <span class="flex items-center text-[12px] xl:text-[17px] font-inter">
            28.06.2022 | 192
            <svg class="w-[15px] h-[15px]">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>

            | 1600 слов
          </span>
          <div class="text-[#9799A5] mt-3 gap-2 flex flex-wrap">
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer font-helvetica"
            >
              Психология
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
