<section id="video" class="mt-24 wrapper">
  <div class="w-full flex items-center flex-wrap xs:flex-nowrap relative">
    <div
      class="w-[20px] h-[20px] rounded-full bg-[#FFB800] absolute -left-10"
    ></div>
    <h2 class="title xs:whitespace-nowrap">Подкасты</h2>
    <span
      class="h-[1px] bg-[#9799A5] w-full ml-8 opacity-50 hidden xs:block"
    ></span>
    <button class="xs:ml-8 see-button">
      <svg class="w-[40px] h-[40px]">
        <use xlink:href="img/sprite.svg#unsee"></use>
      </svg>
    </button>
  </div>
  <div
    class="accordion-content grid grid-cols-1 overflow-hidden lg:overflow-visible gap-16 transition-all duration-700 ease-in-out grid-rows-[1fr] opacity-100 relative video-section"
  >
    <div
      class="w-[2px] h-[123%] bg-linear-yellow-green hidden lg:block absolute -left-[30px] -top-7 z-[999]"
    ></div>
    <div class="flex flex-col overflow-hidden">
      <p class="mt-3 text-base text-[#9CA3AF]">
        Выбранные Тэги для данной категории материала
      </p>
      <div
        class="grid text-[#9799A5] mt-3 max-w-[700px] gap-2 grid-cols-3 xs:grid-cols-4 2xl:grid-cols-5"
      >
        <p
          class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
        >
          Биология
        </p>
        <p
          class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
        >
          Фармакология
        </p>
        <p
          class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
        >
          Психология
        </p>
        <p
          class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
        >
          Энтомология
        </p>

        <p
          class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
        >
          +
        </p>
      </div>
    </div>

    <div class="swiper mySwiper2">
      <div class="flex items-center mb-2">
        <div
          class="p-1 h-[30px] bg-[#FDE68A] border-[#FFB800] border-2 rounded-lg flex flex-center cursor-pointer"
        >
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#FFB800] m-0 mr-1 p-0"
          ></div>
          Подкаст
        </div>
        <span class="ml-6 font-bold text-xl"> Все подкасты </span>
      </div>
      <div class="swiper-wrapper swiper-wrapper-audio">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="mt-4 relative flex flex-col">
            <img src="./img/audio.png" alt="podcast image" />
            <div
              class="w-[400px] h-[370px] group bg-black/30 absolute transition-all duration-300 hover:opacity-100 opacity-0 rounded-lg"
            >
              <div class="absolute top-[150px] left-[55px]">
                <svg class="h-20">
                  <use xlink:href="img/sprite.svg#start"></use>
                </svg>
              </div>
            </div>

            <h3 class="font-semibold text-xl text-[#323232] mt-5">
              В роговице обнаружены патрульные Т-лимфоциты
            </h3>
            <p class="text-[#52525B] text-lg">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
            <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
              Автор: Константин константинов
              <span class="flex items-center">
                28.06.2022 | 192
                <svg class="w-[15px] h-[15px]">
                  <use xlink:href="img/sprite.svg#see"></use>
                </svg>
                | 1600 слов
              </span>
              <div class="text-[#9799A5] mt-3 gap-2 grid grid-cols-3">
                <p
                  class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="p-1 w-[30px] h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  +2
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mt-4 relative flex flex-col">
            <img src="./img/audio.png" alt="podcast image" />
            <div
              class="w-[400px] h-[370px] group bg-black/30 absolute transition-all duration-300 hover:opacity-100 opacity-0 rounded-lg"
            >
              <div class="absolute top-[150px] left-[55px]">
                <svg class="h-20">
                  <use xlink:href="img/sprite.svg#start"></use>
                </svg>
              </div>
            </div>

            <h3 class="font-semibold text-xl text-[#323232] mt-5">
              В роговице обнаружены патрульные Т-лимфоциты
            </h3>
            <p class="text-[#52525B] text-lg">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
            <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
              Автор: Константин константинов
              <span class="flex items-center">
                28.06.2022 | 192
                <svg class="w-[15px] h-[15px]">
                  <use xlink:href="img/sprite.svg#see"></use>
                </svg>
                | 1600 слов
              </span>
              <div class="text-[#9799A5] mt-3 gap-2 grid grid-cols-3">
                <p
                  class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="p-1 w-[30px] h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  +2
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mt-4 relative flex flex-col">
            <img src="./img/audio.png" alt="podcast image" />
            <div
              class="w-[400px] h-[370px] group bg-black/30 absolute transition-all duration-300 hover:opacity-100 opacity-0 rounded-lg"
            >
              <div class="absolute top-[150px] left-[55px]">
                <svg class="h-20">
                  <use xlink:href="img/sprite.svg#start"></use>
                </svg>
              </div>
            </div>

            <h3 class="font-semibold text-xl text-[#323232] mt-5">
              В роговице обнаружены патрульные Т-лимфоциты
            </h3>
            <p class="text-[#52525B] text-lg">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
            <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
              Автор: Константин константинов
              <span class="flex items-center">
                28.06.2022 | 192
                <svg class="w-[15px] h-[15px]">
                  <use xlink:href="img/sprite.svg#see"></use>
                </svg>
                | 1600 слов
              </span>
              <div class="text-[#9799A5] mt-3 gap-2 grid grid-cols-3">
                <p
                  class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="p-1 w-[30px] h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  +2
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev prev" id="audio-prev"></div>
    <div class="swiper-button-next next" id="audio-next"></div>
  </div>
</section>
