<section id="top_material" class="mt-24">
  <div class="wrapper text-[#323232] !pb-0">
    <div class="w-full flex items-center flex-wrap xs:flex-nowrap relative">
      <div
        class="w-[20px] h-[20px] rounded-full bg-[#A78BFA] absolute -left-10"
      ></div>
      <h2 class="title xs:whitespace-nowrap">Календарь мероприятий</h2>
      <span
        class="h-[1px] bg-[#9799A5] w-full ml-8 opacity-50 hidden xs:block"
      ></span>
      <button class="xs:ml-8 see-button">
        <svg
          class="w-[40px] h-[40px] opacity-0 hidden transition-all duration-300"
        >
          <use xlink:href="img/sprite.svg#eye"></use>
        </svg>
        <svg class="w-[40px] h-[40px] opacity-100 transition-all duration-300">
          <use xlink:href="img/sprite.svg#unsee"></use>
        </svg>
      </button>
    </div>
    <div
      class="accordion-content one-col grid grid-cols-1 overflow-hidden lg:overflow-visible gap-16 transition-all duration-700 ease-in-out grid-rows-[1fr] opacity-100 relative"
    >
      <div class="flex flex-col overflow-hidden">
        <p class="mt-3 text-base text-[#9CA3AF]">
          Выбранные Тэги для данной категории материала
        </p>
        <div
          class="grid text-[#9799A5] max-w-[700px] mt-3 gap-2 grid-cols-2 xs:grid-cols-3"
        >
          <p
            class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
          >
            Москва
          </p>
          <p
            class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            Санкт - петербург
          </p>
          <p
            class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
          >
            Ростов
          </p>
          <p
            class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            Волгоград
          </p>

          <p
            class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            +
          </p>
        </div>
        <div class="flex flex-col md:flex-row gap-[66px]">
          <div class="w-full">
            <p class="font-bold text-xl pt-9">Все Мероприятия</p>
            <div class="flex flex-col lg:flex-row justify-between mt-6">
              <div class="relative flex flex-col">
                <img src="./img/event.png" alt="event" />
                <div class="absolute left-1 top-1 flex flex-col">
                  <div
                    class="p-1 h-[30px] bg-[#B7ADF5] border-[#7B67F5] border-2 rounded-lg flex flex-center cursor-pointer"
                  >
                    <div
                      class="w-[10px] h-[10px] rounded-full bg-[#7B67F5] m-0 mr-1 p-0"
                    ></div>
                    Инфографика
                  </div>
                  <div
                    class="mt-1 p-1 h-[30px] bg-[#B7ADF5]/70 border-[#7B67F5] border-2 rounded-lg flex flex-center cursor-pointer"
                  >
                    <div
                      class="w-[10px] h-[10px] rounded-full bg-[#7B67F5] m-0 mr-1 p-0"
                    ></div>
                    10 <span class="text-[#2B2C2E]/70">&nbsp;/&nbsp;</span>02
                    <span class="text-[#2B2C2E]/70">&nbsp;/&nbsp;</span>2024
                  </div>
                </div>
                <h3 class="font-semibold text-xl text-[#323232] mt-5">
                  XVI Съезд Российского Общества Терапевтов
                </h3>
                <p class="text-[#52525B] text-lg">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                  amet sint. Velit officia consequat duis enim velit mollit.
                </p>
                <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
                  <div class="flex flex-col">
                    <span>Где: Москва, отель Moscow Plaza</span>
                    <span>Когда: 22 июн 2022 - 1 июл 2022</span>
                  </div>
                  <div
                    class="text-[#9799A5] mt-3 gap-2 grid grid-cols-3 lg:grid-cols-2"
                  >
                    <p
                      class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
                    >
                      Психология
                    </p>
                    <p
                      class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                    >
                      Психология
                    </p>
                    <p
                      class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                    >
                      +2
                    </p>
                  </div>
                </div>
              </div>
              <div class="mt-4 relative flex flex-col lg:ml-6 lg:mt-0">
                <img src="./img/event.png" alt="event" />
                <div class="absolute left-1 top-1 flex flex-col">
                  <div
                    class="p-1 h-[30px] bg-[#B7ADF5] border-[#7B67F5] border-2 rounded-lg flex flex-center cursor-pointer"
                  >
                    <div
                      class="w-[10px] h-[10px] rounded-full bg-[#7B67F5] m-0 mr-1 p-0"
                    ></div>
                    Инфографика
                  </div>
                  <div
                    class="mt-1 p-1 h-[30px] bg-[#B7ADF5]/70 border-[#7B67F5] border-2 rounded-lg flex flex-center cursor-pointer"
                  >
                    <div
                      class="w-[10px] h-[10px] rounded-full bg-[#7B67F5] m-0 mr-1 p-0"
                    ></div>
                    10 <span class="text-[#2B2C2E]/70">&nbsp;/&nbsp;</span>02
                    <span class="text-[#2B2C2E]/70">&nbsp;/&nbsp;</span>2024
                  </div>
                </div>
                <h3 class="font-semibold text-xl text-[#323232] mt-5">
                  XVI Съезд Российского Общества Терапевтов
                </h3>
                <p class="text-[#52525B] text-lg">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                  amet sint. Velit officia consequat duis enim velit mollit.
                </p>
                <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
                  <div class="flex flex-col">
                    <span>Где: Москва, отель Moscow Plaza</span>
                    <span>Когда: 22 июн 2022 - 1 июл 2022</span>
                  </div>
                  <div
                    class="text-[#9799A5] mt-3 gap-2 grid grid-cols-3 lg:grid-cols-2"
                  >
                    <p
                      class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
                    >
                      Психология
                    </p>
                    <p
                      class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                    >
                      Психология
                    </p>
                    <p
                      class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                    >
                      +2
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col items-center md:items-start mx-auto w-full max-w-[350px] mt-[15px]"
          >
            <p class="text-[#9799A5] text-[16px]">Выбрать свои даты</p>
            <p class="flex text-[#9799A5] text-[16px] items-center mb-[18px]">
              <span class="text-2xl mr-3"> &#10094;</span> Дек<span
                class="text-2xl ml-3"
              >
                &#10095;
              </span>
              <span class="text-2xl mr-3"> &#10094;</span> 2022
              <span class="text-2xl ml-3"> &#10095;</span>
            </p>
            @include('./datepicker.html')
            <p class="text-[#9799A5] mt-6">В Данные даты</p>
            <div class="flex flex-col">
              <div class="mt-5 flex items-start">
                <div
                  class="w-[10px] h-[10px] rounded-full bg-[#7B67F5] mr-1 p-0 m-[5px]"
                ></div>
                <div
                  class="flex flex-col text-left text-sm text-black font-bold max-w-[272px]"
                >
                  XVI Съезд Российского Общества Терапевтов
                  <span class="text-[#9799A5] font-medium">
                    Москва | 7 июл 2023 - 16 июля
                  </span>
                </div>
                <div class="text-[#9799A5] text-sm font-medium">12:00</div>
              </div>
              <div class="mt-5 flex items-start">
                <div
                  class="w-[10px] h-[10px] rounded-full bg-[#7B67F5] mr-1 p-0 m-[5px]"
                ></div>
                <div
                  class="flex flex-col text-left text-sm text-black font-bold max-w-[272px]"
                >
                  XVI Съезд Российского Общества Терапевтов
                  <span class="text-[#9799A5] font-medium">
                    Москва | 7 июл 2023 - 16 июля
                  </span>
                </div>
                <div class="text-[#9799A5] text-sm font-medium">12:00</div>
              </div>
              <div class="mt-5 flex items-start">
                <div
                  class="w-[10px] h-[10px] rounded-full bg-[#7B67F5] mr-1 p-0 m-[5px]"
                ></div>
                <div
                  class="flex flex-col text-left text-sm text-black font-bold max-w-[272px]"
                >
                  XVI Съезд Российского Общества Терапевтов
                  <span class="text-[#9799A5] font-medium">
                    Москва | 7 июл 2023 - 16 июля
                  </span>
                </div>
                <div class="text-[#9799A5] text-sm font-medium">12:00</div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-[#404246] flex justify-center min-h-[233px] w-full mt-[28px] relative"
        >
          <div
            class="w-full lg:w-2/3 flex items-center flex-col relative text-center"
          >
            <p class="text-[#A78BFA] text-2xl pt-4">Не пропусти ивент!</p>
            <h4 class="text-[#E1E1E4] text-2xl xl:text-4xl">
              Получайте уведомления о новых мероприятиях
            </h4>
            <div class="relative w-full flex justify-center">
              <input
                type="text"
                placeholder="Электронная почта"
                maxlength="20"
                class="w-11/12 lg:w-full max-w-[735px] mt-[28px] h-[50px] py-[15px] px-[10px] text-[#323232] rounded-lg static"
              />
              <button
                class="absolute bottom-[12px] right-[20px] md:right-[75px] z-50 text-[#556583]"
              >
                Отправить
              </button>
              <svg
                class="absolute hidden lg:block -right-2 bottom-[9px] w-[40px] h-[40px] cursor-pointer"
              >
                <use xlink:href="img/sprite.svg#logo-purple"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
