<div class="w-full max-w-[320px]">
  <div
    class="w-full bg-[#F4F4F4] grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] border-[1px] text-xs font-normal"
  >
    <div class="min-w-[30px] h-[40px] flex-center relative">Пн</div>
    <div class="min-w-[30px] h-[40px] flex-center relative">Вт</div>
    <div class="min-w-[30px] h-[40px] flex-center relative">Ср</div>
    <div class="min-w-[30px] h-[40px] flex-center relative">Чт</div>
    <div class="min-w-[30px] h-[40px] flex-center relative">Пт</div>
    <div class="min-w-[30px] h-[40px] flex-center relative">Сб</div>
    <div class="min-w-[30px] h-[40px] flex-center relative">Вс</div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold"
  >
    <div class="datepicker-day"></div>
    <div class="datepicker-day"></div>
    <div class="datepicker-day"></div>
    <div class="datepicker-day">01</div>
    <div class="datepicker-day">02</div>
    <div class="datepicker-day">03</div>
    <div class="datepicker-day">04</div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold relative"
  >
    <div class="absolute"></div>
    <div class="datepicker-day">05</div>
    <div class="datepicker-day">06</div>
    <div class="datepicker-day">07</div>
    <div class="datepicker-day">08</div>
    <div class="datepicker-day">09</div>
    <div class="datepicker-day">10</div>
    <div class="datepicker-day">11</div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold"
  >
    <div class="datepicker-day">12</div>
    <div class="datepicker-day">13</div>
    <div class="datepicker-day">14</div>
    <div class="datepicker-day">15</div>
    <div class="datepicker-day">16</div>
    <div class="datepicker-day">17</div>
    <div class="datepicker-day">18</div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold"
  >
    <div class="datepicker-day">19</div>
    <div class="datepicker-day">20</div>
    <div class="datepicker-day">21</div>
    <div class="datepicker-day">22</div>
    <div class="datepicker-day">23</div>
    <div class="datepicker-day">24</div>
    <div class="datepicker-day">25</div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold"
  >
    <div class="datepicker-day">26</div>
    <div class="datepicker-day">27</div>
    <div class="datepicker-day">28</div>
    <div class="datepicker-day">29</div>
    <div class="datepicker-day">30</div>
    <div class="datepicker-day">31</div>
    <div></div>
  </div>
</div>
