<div class="w-full xxs:max-w-[320px]">
  <div
    class="w-full bg-[#F4F4F4] grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] border-[1px] text-xs font-normal"
  >
    <div class="w-[30px] h-[40px] flex-center">Пн</div>
    <div class="w-[30px] h-[40px] flex-center">Вт</div>
    <div class="w-[30px] h-[40px] flex-center">Ср</div>
    <div class="w-[30px] h-[40px] flex-center">Чт</div>
    <div class="w-[30px] h-[40px] flex-center">Пт</div>
    <div class="w-[30px] h-[40px] flex-center">Сб</div>
    <div class="w-[30px] h-[40px] flex-center">Вс</div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold"
  >
    <div class="w-[30px] h-[40px] flex-center"></div>
    <div class="w-[30px] h-[40px] flex-center"></div>
    <div class="w-[30px] h-[40px] flex-center"></div>
    <div class="w-[30px] h-[40px] flex-center">01</div>
    <div class="w-[30px] h-[40px] flex-center">02</div>
    <div class="w-[30px] h-[40px] flex-center">03</div>
    <div class="w-[30px] h-[40px] flex-center">04</div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold relative"
  >
    <div
      class="absolute h-[25px] w-[220px] xxxs:w-[250px] bg-[#9A8CF0]/20 right-0 top-[7px]"
    ></div>
    <div class="w-[30px] h-[40px] flex-center">05</div>
    <div
      class="rounded-full bg-[#9A8CF0] text-white w-[30px] h-[30px] flex-center"
    >
      06
    </div>
    <div class="w-[30px] h-[40px] flex-center">07</div>
    <div class="w-[30px] h-[40px] flex-center">08</div>
    <div class="w-[30px] h-[40px] flex-center">09</div>
    <div class="w-[30px] h-[40px] flex-center">10</div>
    <div
      class="rounded-full bg-[#9A8CF0] text-white w-[30px] h-[30px] flex-center"
    >
      11
    </div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold"
  >
    <div class="w-[30px] h-[40px] flex-center">12</div>
    <div class="w-[30px] h-[40px] flex-center">13</div>
    <div class="w-[30px] h-[40px] flex-center">14</div>
    <div class="w-[30px] h-[40px] flex-center">15</div>
    <div class="w-[30px] h-[40px] flex-center">16</div>
    <div class="w-[30px] h-[40px] flex-center">17</div>
    <div class="w-[30px] h-[40px] flex-center">18</div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold"
  >
    <div class="w-[30px] h-[40px] flex-center">19</div>
    <div class="w-[30px] h-[40px] flex-center">20</div>
    <div class="w-[30px] h-[40px] flex-center">21</div>
    <div class="w-[30px] h-[40px] flex-center">22</div>
    <div class="w-[30px] h-[40px] flex-center">23</div>
    <div class="w-[30px] h-[40px] flex-center">24</div>
    <div class="w-[30px] h-[40px] flex-center">25</div>
  </div>
  <div
    class="w-full grid grid-cols-7 gap-[20px] xxxs:gap-[30px] h-[40px] items-center px-[10px] border-b-black/30 border-b-[1px] text-xs font-bold"
  >
    <div class="w-[30px] h-[40px] flex-center">26</div>
    <div class="w-[30px] h-[40px] flex-center">27</div>
    <div class="w-[30px] h-[40px] flex-center">28</div>
    <div class="w-[30px] h-[40px] flex-center">29</div>
    <div class="w-[30px] h-[40px] flex-center">30</div>
    <div class="w-[30px] h-[40px] flex-center">31</div>
    <div></div>
  </div>
</div>
