<div class="flex flex-col max-w-[300]">
  <div сlass="w-full flex flex-col">
    <span class="font-helvetica text-lg text-[#9799A5] text-left"
      >ДАТА ПУБЛИКАЦИИ</span
    >
    <div class="mt-8" id="dateslider"></div>
  </div>
  <div class="mt-16 flex flex-col">
    <span class="font-helvetica text-lg text-[#9799A5] text-left mb-8"
      >КОЛИЧЕСТВО СЛОВ</span
    >

    <div id="html5"></div>
    <div class="flex gap-5 mt-6">
      <label for="min-words" class="flex flex-col text-xs text-[#9799A5]">
        Минимум слов
        <input
          type="number"
          id="input-number2"
          class="w-32 border-[#E1E1E4] rounded-lg border-[1px] py-2 pl-[10px] pr-4 h-10 text-[16px] font-helvetica text-[#262A2D]/90"
        />
      </label>
      <label for="max-words" class="flex flex-col text-xs text-[#9799A5]">
        Максимум слов
        <input
          type="number"
          id="input-number"
          class="w-32 border-[#E1E1E4] rounded-lg border-[1px] py-2 pl-[10px] pr-4 h-10 text-[16px] font-helvetica text-[#262A2D]/90"
        />
      </label>
    </div>
  </div>
  <div class="mt-10">
    <span class="font-helvetica text-lg text-[#9799A5] text-left">РАЗДЕЛЫ</span>
    <div class="flex flex-col font-helvetica mt-6 gap-4">
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="section-1" />
          <label
            for="section-1"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Новости
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">100</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="section-2" />
          <label
            for="section-2"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Статьи
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">17</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="section-3" />
          <label
            for="section-3"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Подкасты
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">100</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="section-4" />
          <label
            for="section-4"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Видео
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">69</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="section-5" />
          <label
            for="section-5"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Инфографика
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">100</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="section-6" />
          <label
            for="section-6"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Вакансии
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">420</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="section-7" />
          <label
            for="section-7"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Мероприятия
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">44</span>
      </div>
    </div>
  </div>
  <div class="mt-10">
    <span class="font-helvetica text-lg text-[#9799A5] text-left">ТЕГИ</span>
    <div class="flex flex-col font-helvetica mt-6 gap-4">
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag-1" />
          <label
            for="tag-1"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">17</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag-2" />
          <label
            for="tag-2"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Торакальная хирургия
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">100</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag-3" />
          <label
            for="tag-3"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Офтальмология
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">69</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag-4" />
          <label
            for="tag-4"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Генная инженерия
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">1337</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag-5" />
          <label
            for="tag-5"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Фармакология
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">420</span>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag-6" />
          <label
            for="tag-6"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-[#9799A5] peer-checked:text-[#262A2D]/90 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#556583] before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:bg-[#556583] peer-checked:before:text-white peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Неврология
          </label>
        </div>
        <span class="text-[16px] text-[#2B2C2E]">44</span>
      </div>
    </div>
  </div>
</div>
