<footer class="bg-[#F4F4F4] mt-[174px]" id="footer">
  <div
    class="header-wrapper flex items-center flex-col lg:flex-row justify-between font-helvetica"
  >
    <div class="w-full max-w-[650px] text-[#5F626F]">
      РАССЫЛКА mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
    </div>
    <input
      type="text"
      placeholder="Электронная почта"
      class="border-[#9CA3AF] border-[1px] px-4 py-3 w-full max-w-[750px] rounded-lg"
    />
  </div>
  <div class="bg-[#2B2C2E] w-full">
    <div class="header-wrapper flex-col flex">
      <div
        class="flex flex-col items-center lg:flex-row lg:justify-between border-b-[1px] pb-2 border-b-[#616269]"
      >
        <div
          class="flex items-center text-white text-[26px] font-orbitron font-medium"
        >
          <svg class="w-[30px] h-[30px] mr-3">
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
          EURYMED
          <span class="ml-5 text-[#9799A5] text-lg font-helvetica font-normal"
            >О нас</span
          >
        </div>
        <div class="flex gap-10 items-center mt-5 lg:mt-0">
          <a href="#">
            <svg class="w-[30px] h-[30px]">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-[30px] h-[30px]">
              <use xlink:href="img/sprite.svg#tg"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-[30px] h-[30px]">
              <use xlink:href="img/sprite.svg#yt"></use>
            </svg>
          </a>
          <a href="#"
            ><svg class="w-[30px] h-[30px]">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
          <a href="#"
            ><svg class="w-[30px] h-[30px]">
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="mt-8 text-lg flex justify-between lg:flex-row flex-col items-center font-helvetica"
      >
        <div class="text-white text-center">
          EURYMED 2023-2024. Все права защищены
        </div>
        <div class="text-[#9799A5] text-center flex flex-col md:block">
          medachcontact@gmail.com <span class="md:ml-8">@medachcontact</span>
        </div>
      </div>
    </div>
  </div>
</footer>
