<header
  class="header-wrapper h-[70px] xs:h-[92px] grid grid-cols-3 justify-items-center items-center"
>
  <div class="w-full flex justify-start">
    <nav class="flex items-center justify-start">
      <button
        class="btn-reset burger text-white"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
      <ul class="ml-5 hidden lg:flex text-[19px] nav__menu">
        <li class="mr-5">
          <a
            href="#news"
            class="hover:text-black transition-all duration-500 hover:underline"
            >Новости</a
          >
        </li>
        <li class="mr-5">
          <a
            href="#articles"
            class="hover:text-black transition-all duration-500 hover:underline"
            >Статьи</a
          >
        </li>
        <li class="mr-5">
          <a
            href="#events"
            class="hover:text-black transition-all duration-500 hover:underline"
            >Мероприятия</a
          >
        </li>
        <li class="">
          <a
            href="#jobs"
            class="hover:text-black transition-all duration-500 hover:underline"
            >Вакансии</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <a href="../index.html">
      <img
        src="../img/logo.png"
        alt="src"
        class="dark:bg-white dark:p-1 dark:dark:border-[##E5E5E5] dark:rounded-md h-[30px] xs:h-auto"
      />
    </a>
  </div>
  <div class="w-full flex justify-end">
    <div class="hidden md:flex items-center cursor-pointer">
      <button
        class="btn-reset btn-search header-search"
        data-graph-path="search"
      >
        <svg
          class="w-6 h-6 bg-transparent dark:w-8 dark:h-8 dark:bg-white dark:p-1 dark:dark:border-[##E5E5E5] dark:rounded-md"
        >
          <use href="../img/sprite.svg#search"></use>
        </svg>
      </button>
      <button class="themeSwitcher mx-16">
        <svg
          class="w-6 h-6 bg-transparent cursor-pointer dark:w-8 dark:h-8 dark:bg-white dark:p-1 dark:dark:border-[##E5E5E5] dark:rounded-md"
        >
          <use href="../img/sprite.svg#light-mode"></use>
        </svg>
      </button>

      <div class="relative">
        <button
          class="w-8 h-8 bg-[#E5E5E5] dark:bg-white p-1 border border-[#565656] dark:border-[##E5E5E5] rounded-md cursor-pointer profile-page flex-center relative userBtn"
        >
          <div
            class="absolute -top-2 -right-1 w-4 h-4 bg-[#DE532D] border-2 border-[#FAFAFA] rounded-full"
          ></div>
          <svg class="w-5 h-5">
            <use href="../img/sprite.svg#user"></use>
          </svg>
        </button>
        <div
          class="absolute w-[200px] min-h-[100px] bg-[#323232]/90 top-12 left-[5px] xxs:left-auto xxs:right-[5px] rounded-br-lg rounded-bl-lg rounded-tl-lg z-10 flex-col items-center role hidden shadow-lg"
        >
          <button
            class="w-11/12 text-white/60 focus:font-helvetica focus:text-white text-base font-normal focus:font-semibold pt-5 flex items-start px-1 pb-2 border-b-[1px] border-b-black"
          >
            Пользователь
          </button>
          <button
            class="w-11/12 text-white/60 focus:text-white text-base font-normal focus:font-helvetica focus:font-semibold pt-2 flex items-start px-1 mb-5"
          >
            Администратор
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
