<section id="jobs" class="mt-24 bg-[#323232] pt-14">
  <div class="wrapper text-white !pb-0">
    <div class="w-full flex items-center flex-wrap xs:flex-nowrap relative">
      <div
        class="w-[20px] h-[20px] rounded-full bg-[#008FA0] absolute -left-10"
      ></div>
      <h2 class="title xs:whitespace-nowrap">Вакансии</h2>
      <span
        class="h-[1px] bg-[#E1E1E4] w-full ml-8 opacity-50 hidden xs:block"
      ></span>
      <button class="xs:ml-8 see-button">
        <svg
          class="w-[40px] h-[40px] opacity-0 hidden transition-all duration-300"
        >
          <use xlink:href="img/sprite.svg#eye-white"></use>
        </svg>
        <svg class="w-[40px] h-[40px] opacity-100 transition-all duration-300">
          <use xlink:href="img/sprite.svg#unsee-white"></use>
        </svg>
      </button>
    </div>
    <div
      class="accordion-content one-col grid grid-cols-1 overflow-hidden lg:overflow-visible gap-16 transition-all duration-700 ease-in-out grid-rows-[1fr] opacity-100 relative job"
    >
      <div
        class="w-[2px] h-[120%] bg-linear-blue-purple hidden lg:block absolute -left-[30px] -top-7 z-[999]"
      ></div>
      <div
        class="absolute hidden 2xl:flex-center 2xl:flex-col -right-[150px] top-[40%] z-[999] text-[#fafafa] font-inter"
      >
        Изучить больше
        <button
          class="rounded-full h-[80px] w-[80px] my-4 border-[#F3F4F6] hover:bg-[#F3F4F6]/5 transition-all duration-300 border-2 flex-center"
        >
          <svg class="w-[40px]">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
        Возможностей
      </div>
      <div class="flex flex-col overflow-hidden">
        <p class="mt-3 text-base text-[#9CA3AF]">Выбранные города для поиска</p>
        <div
          class="grid text-[#9799A5] max-w-[700px] mt-3 gap-2 grid-cols-2 xs:grid-cols-3 font-helvetica"
        >
          <p
            class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
          >
            Москва
          </p>
          <p
            class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            Санкт - петербург
          </p>
          <p
            class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
          >
            Ростов
          </p>
          <p
            class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            Волгоград
          </p>

          <p
            class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            +
          </p>
        </div>
        <div
          class="w-full flex flex-col lg:flex-row lg:flex-between font-helvetica"
        >
          <div class="flex flex-col mt-12 text-[#FAFAFA] pr-10">
            <div
              class="p-1 h-[30px] w-[130px] bg-[#89D7E0] border-[#008FA0] border-2 rounded-lg flex flex-center cursor-pointer text-[#323232] font-helvetica"
            >
              <div
                class="w-[10px] h-[10px] rounded-full bg-[#008FA0] m-0 mr-1 p-0"
              ></div>
              Вакансия
            </div>
            <h3 class="font-bold text-[36px] mt-5 font-helvetica">
              Директор биобанка Института регенеративной медицины Copy
            </h3>
            <p class="font-medium font-helvetica text-[28px] mt-5">
              80 000 - 100 000 руб.
            </p>
            <p class="font-normal text-lg mt-5">
              Сеченовский университет <br />Москва
            </p>
            <p class="font-normal text-[16px] mt-5 font-inter">
              Опыт от 2 лет | Переезд обязателен
            </p>
            <p class="font-normal text-[17px] mt-5 text-[#9CA3AF]">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet. Velit officia
              consequat duis enim velit mollit
            </p>
            <button
              class="w-full h-[50px] bg-transparent border-2 border-[#fafafa] rounded-[10px] mt-5"
            >
              Подробнее
            </button>
          </div>
          <div class="flex flex-col mt-12 text-[#FAFAFA]">
            <div
              class="p-1 h-[30px] w-[130px] bg-[#89D7E0] border-[#008FA0] border-2 rounded-lg flex flex-center cursor-pointer text-[#323232] font-helvetica"
            >
              <div
                class="w-[10px] h-[10px] rounded-full bg-[#008FA0] m-0 mr-1 p-0"
              ></div>
              Вакансия
            </div>
            <h3 class="font-bold text-[36px] mt-5 font-helvetica">
              Директор биобанка Института регенеративной медицины Copy
            </h3>
            <p class="font-medium text-[28px] mt-5">80 000 - 100 000 руб.</p>
            <p class="font-normal text-lg mt-5">
              Сеченовский университет <br />Москва
            </p>
            <p class="font-normal text-[16px] mt-5 font-inter">
              Опыт от 2 лет | Переезд обязателен
            </p>
            <p class="font-normal text-[17px] mt-5 text-[#9CA3AF]">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet. Velit officia
              consequat duis enim velit mollit
            </p>
            <button
              class="w-full h-[50px] bg-transparent border-2 border-[#fafafa] rounded-[10px] mt-5"
            >
              Подробнее
            </button>
          </div>
        </div>
        <div
          class="bg-[#404246] flex justify-center h-[233px] w-full mt-[28px] relative font-helvetica"
        >
          <div
            class="w-full lg:w-2/3 flex items-center flex-col relative text-center"
          >
            <p class="text-[#89D7E0] text-2xl pt-4">Всегда будь первым!</p>
            <h4 class="text-[#E1E1E4] text-2xl xl:text-4xl font-medium">
              Получайте уведомления о новых вакансиях
            </h4>
            <div class="relative w-full flex justify-center items-center">
              <input
                type="text"
                placeholder="Электронная почта"
                maxlength="20"
                class="w-11/12 lg:w-full max-w-[735px] mt-[28px] h-[50px] py-[15px] px-[10px] text-[#323232] rounded-lg static"
              />

              <button
                class="absolute bottom-[12px] right-[20px] md:right-[75px] z-50 text-[#556583]"
              >
                Отправить
              </button>
              <svg
                class="absolute hidden lg:block -right-2 bottom-[9px] w-[40px] h-[40px] cursor-pointer"
              >
                <use xlink:href="img/sprite.svg#logo-blue"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
