<!-- <div
  class="w-full font-helvetica relative max-w-[600px] leftside transition-all duration-500"
> -->
<div
  class="hidden 2xl:flex flex-col 2xl:left-24 3xl:left-36 fixed w-full max-w-[300px] 3xl:max-w-[400px] leftside transition-all duration-500 font-helvetica"
>
  <p class="text-[#5F626F] text-xl leading-7 mb-14">
    &#8592; Вернуться к поиску
  </p>

  <span class="text-2xl leading-7 text-[#9799A5] mb-8">
    НАВИГАЦИЯ ПО СТРАНИЦЕ</span
  >

  <div class="h-[8px] w-full bg-[#e1e1e1] mb-8 rounded-md">
    <div class="h-[8px] w-0 bg-[#323232] rounded-md progressbar"></div>
  </div>
  <div class="flex flex-col gap-5 text-xl">
    <p class="text-[#5F626F] font-medium">
      Британские ученые опять что-то доказали
    </p>
    <p class="text-[#9799A5]">Лимфоциты на страже здоровья глаз</p>

    <p class="text-[#9799A5]">Роговица в ежовых рукавицах</p>
  </div>
</div>
<div class="hidden 2xl:block 2xl:left-24 3xl:left-36 bottom-0 absolute">
  <a href="#start" class="text-[#556583] text-xl">В начало &#8593;</a>
</div>
<!-- </div> -->
