<div class="relative rightside transition-all duration-500">
  <div
    class="tabs sticky hidden 2xl:block top-16 rightside w-[300px]"
    data-tabs="tab"
  >
    <ul class="list-reset tabs__nav">
      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn" type="button">
          <svg class="w-5 h-5">
            <use xlink:href="img/sprite.svg#warning-tab"></use>
          </svg>
        </button>
      </li>
      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn" type="button">
          <svg class="w-5 h-5">
            <use xlink:href="img/sprite.svg#interface"></use>
          </svg>
        </button>
      </li>
      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn" type="button">
          <svg class="w-5 h-5">
            <use xlink:href="img/sprite.svg#folder"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="tabs__content">
      <div class="tabs__panel text-[#9799A5] font-helvetica">
        <p class="text-xl mt-9">ПОХОЖИЕ МАТЕРИАЛЫ</p>
        <p class="text-lg mt-6">Автор: Николай Крылатов</p>
        <p class="text-lg mt-4">Редакция: Никита Корчагин</p>
        <p class="text-lg mt-4">Оформление: Никанор Короленко</p>
        <p class="text-lg mt-4">Опубликована: 16.10.2022</p>
        <p class="text-xl mt-9">ТЭГИ</p>
        <div class="text-[#9799A5] mt-7 gap-2 flex flex-wrap font-helvetica">
          <p
            class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
          >
            Биология
          </p>
          <p
            class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            Энтомология
          </p>
          <p
            class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            Психология
          </p>
          <p
            class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            Психология
          </p>
          <p
            class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
          >
            Анетезиология
          </p>
        </div>
        <p class="text-xl mt-9">МЕТРИКИ</p>
        <div class="mt-7">
          <p class="flex items-center text-lg">
            <svg class="w-[18px] h-[18px] mr-3">
              <use xlink:href="img/sprite.svg#note-search"></use>
            </svg>
            Просмотрено 100 раз
          </p>
          <p class="flex items-center text-lg mt-5">
            <svg class="w-[18px] h-[18px] mr-3">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            Просмотрено 100 раз
          </p>
          <p class="flex items-center text-lg mt-5">
            <svg class="w-[18px] h-[18px] mr-3">
              <use xlink:href="img/sprite.svg#save"></use>
            </svg>
            Сохранили 45 раз
          </p>
          <p class="flex items-center text-lg mt-5">
            <svg class="w-[18px] h-[18px] mr-3">
              <use xlink:href="img/sprite.svg#quote"></use>
            </svg>
            Цитировали 12 раз
          </p>
        </div>
      </div>
      <div class="tabs__panel text-[#9799A5] font-helvetica">
        <p class="text-xl mt-9">МАТЕРИАЛЫ СТАТЬИ</p>
        <img src="../img/data.png" alt="Данные" class="mt-7" />
        <p class="mt-4 italic text-lg">
          <span class="font-medium pb-5 not-italic"
            >Таблица 1. Данные исследования</span
          >
          Praesent ultricies lacus in ligula volutpat feugiat. In hac habitasse
          platea dictumst. In hac habitasse platea dictumst. Fusce luctus justo
          eget nisi hendrerit, quis aliquam arcu porta.
        </p>
        <div class="border-b-[1px] w-full pb-6 mt-4 border-b-[#E1E1E4]">
          <a class="text-[#3c3c3c] text-lg hover:underline" href="#">
            Показать в тексте
          </a>
        </div>

        <p class="font-medium pb-5 not-italic mt-7">
          Таблица 1. Данные исследования
        </p>
        <img src="../img/data.png" alt="Данные" class="" />
        <p class="mt-4 italic text-lg">
          Praesent ultricies lacus in ligula volutpat feugiat. In hac habitasse
          platea dictumst. In hac habitasse platea dictumst. Fusce luctus justo
          eget nisi hendrerit, quis aliquam arcu porta.
        </p>
        <a class="text-[#3c3c3c] text-lg mt-4 hover:underline" href="#">
          Показать в тексте
        </a>
      </div>
      <div class="tabs__panel">
        <p class="text-xl text-[#9799A5] mt-9">ПОХОЖИЕ МАТЕРИАЛЫ</p>
        <div class="mt-6">
          <h3 class="font-semibold text-xl text-[#323232] mt-5">
            В роговице обнаружены патрульные Т-лимфоциты
          </h3>
          <p class="text-[#52525B] text-lg mt-2">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
          <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
            Автор: Константин константинов
            <span class="flex items-center font-inter">
              28.06.2022 | 192
              <svg class="w-[15px] h-[15px]">
                <use xlink:href="img/sprite.svg#see"></use>
              </svg>
              | 1600 слов
            </span>
            <div
              class="text-[#9799A5] mt-3 gap-2 flex flex-wrap font-helvetica"
            >
              <p
                class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                +2
              </p>
            </div>
          </div>
        </div>
        <div class="mt-6">
          <h3 class="font-semibold text-xl text-[#323232] mt-5">
            В роговице обнаружены патрульные Т-лимфоциты
          </h3>
          <p class="text-[#52525B] text-lg mt-2">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
          <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
            Автор: Константин константинов
            <span class="flex items-center font-inter">
              28.06.2022 | 192
              <svg class="w-[15px] h-[15px]">
                <use xlink:href="img/sprite.svg#see"></use>
              </svg>
              | 1600 слов
            </span>
            <div
              class="text-[#9799A5] mt-3 gap-2 grid grid-flow-col font-helvetica"
            >
              <p
                class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                +2
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hidden 2xl:block 2xl:right-24 3xl:right-36 -bottom-10 absolute">
  <button
    class="bg-transparent border-[1px] w-12 h-12 rounded-full border-[#556583] flex-center"
  >
    <svg class="w-8 h-8">
      <use xlink:href="img/sprite.svg#sun"></use>
    </svg>
  </button>
</div>
