<!-- <div class="w-full relative max-w-[624px] rightside"> -->
<div
  class="tabs fixed hidden 2xl:block 2xl:right-24 3xl:right-36 rightside w-[300px]"
  data-tabs="tab"
>
  <ul class="list-reset tabs__nav">
    <li class="tabs__nav-item">
      <button class="btn-reset tabs__nav-btn" type="button">
        <svg class="w-5 h-5">
          <use xlink:href="img/sprite.svg#warning-tab"></use>
        </svg>
      </button>
    </li>
    <li class="tabs__nav-item">
      <button class="btn-reset tabs__nav-btn" type="button">
        <svg class="w-5 h-5">
          <use xlink:href="img/sprite.svg#interface"></use>
        </svg>
      </button>
    </li>
    <li class="tabs__nav-item">
      <button class="btn-reset tabs__nav-btn" type="button">
        <svg class="w-5 h-5">
          <use xlink:href="img/sprite.svg#file"></use>
        </svg>
      </button>
    </li>
  </ul>
  <div class="tabs__content">
    <div class="tabs__panel"></div>
    <div class="tabs__panel">asd</div>
    <div class="tabs__panel overflow-x-hidden overflow-y-auto h-96">
      <p class="text-xl text-[#9799A5] mt-9">ПОХОЖИЕ МАТЕРИАЛЫ</p>
      <div class="mt-6">
        <h3 class="font-semibold text-xl text-[#323232] mt-5">
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#52525B] text-lg mt-2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
          Автор: Константин константинов
          <span class="flex items-center font-inter">
            28.06.2022 | 192
            <svg class="w-[15px] h-[15px]">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            | 1600 слов
          </span>
          <div
            class="text-[#9799A5] mt-3 gap-2 grid grid-flow-col font-helvetica"
          >
            <p
              class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Психология
            </p>
            <p
              class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Психология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <h3 class="font-semibold text-xl text-[#323232] mt-5">
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#52525B] text-lg mt-2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
          Автор: Константин константинов
          <span class="flex items-center font-inter">
            28.06.2022 | 192
            <svg class="w-[15px] h-[15px]">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            | 1600 слов
          </span>
          <div
            class="text-[#9799A5] mt-3 gap-2 grid grid-flow-col font-helvetica"
          >
            <p
              class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Психология
            </p>
            <p
              class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Психология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
