<div class="graph-modal">
  <div
    class="graph-modal__container px-10 pt-10 pb-8"
    role="dialog"
    aria-modal="true"
    data-graph-target="search"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close top-10 right-10"
      aria-label="Закрыть модальное окно"
    ></button>
    <form class="graph-modal__content font-helvetica">
      <h2 class="text-4xl text-[#2B2C2E] font-medium">Поиск</h2>
      <div class="flex mt-8 items-center">
        <svg class="h-[24px] w-[24px]">
          <use xlink:href="img/sprite.svg#modal-search"></use>
        </svg>
        <input
          type="text"
          class="border-l-[1px] border-l-[#9799A5] pl-1 ml-3 w-full"
          placeholder="Введите поисковый запрос"
        />
      </div>
      <div class="mt-12">
        <h2 class="text-4xl font-medium mb-8 font-inter text-[#2B2C2E]">
          Поиск по Категориям
        </h2>
        <div
          class="text-[#2B2C2E] flex-between gap-2 overflow-x-auto overflow-y-hidden"
        >
          <label
            class="p-1 h-[30px] :bg-[#D1ECC1]/100 border-[#77C845] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
            for="category-filter"
          >
            <input
              type="checkbox"
              name="category"
              id="category-filter"
              class="w-[10px] h-[10px] rounded-full bg-[#77C845] opacity-0 m-0 mr-1 p-0 peer absolute"
            />
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#77C845] opacity-80 m-0 mr-1 p-0"
            ></div>
            Инфографика
          </label>
          <label
            for="category-news"
            class="p-1 h-[30px] bg-[#BFDBFE] border-[#4D9BFD] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
          >
            <input
              type="checkbox"
              name="category"
              id="category-news"
              class="opacity-0 peer absolute"
            />
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#4D9BFD] m-0 mr-1 p-0"
            ></div>
            Новость
          </label>
          <label
            for="category-article"
            class="p-1 h-[30px] bg-[#F1BAEC] border-[#F83A95] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
          >
            <input
              type="checkbox"
              name="category"
              id="category-article"
              class="opacity-0 peer absolute"
            />
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#F83A95] m-0 mr-1 p-0"
            ></div>
            Статья
          </label>
          <label
            for="category-podcast"
            class="p-1 h-[30px] bg-[#FDE68A] border-[#FFB800] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
          >
            <input
              type="checkbox"
              name="category"
              id="category-podcast"
              class="opacity-0 peer absolute"
            />
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#FFB800] m-0 mr-1 p-0"
            ></div>
            Подкаст
          </label>
          <label
            for="category-video"
            class="p-1 h-[30px] bg-[#FFAFA9] border-[#F81717] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
          >
            <input
              type="checkbox"
              name="category"
              id="category-video"
              class="opacity-0 peer absolute"
            />
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#F81717] m-0 mr-1 p-0"
            ></div>
            Видео
          </label>
          <label
            for="category-event"
            class="p-1 h-[30px] bg-[#B7ADF5] border-[#7B67F5] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
          >
            <input
              type="checkbox"
              name="category"
              id="category-event"
              class="opacity-0 peer absolute"
            />
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#7B67F5] m-0 mr-1 p-0"
            ></div>
            Мероприятие
          </label>
          <label
            for="category-job"
            class="p-1 h-[30px] bg-[#89D7E0] border-[#008FA0] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
          >
            <input
              type="checkbox"
              name="category"
              id="category-job"
              class="opacity-0 peer absolute"
            />
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#008FA0] m-0 mr-1 p-0"
            ></div>
            Вакансия
          </label>
          <label
            for="category-red"
            class="px-2 h-fit lg:h-[30px] bg-white border-[#323232] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
          >
            <input
              type="checkbox"
              name="category"
              id="category-red"
              class="peer opacity-0 absolute"
            />
            <img
              class="w-[18px] h-[16px] bg-white mr-[5px] ml-[5px] lg:ml-0"
              src="../img/svg/redaction-dark.svg"
              alt="redaction choice"
            />

            Выбор Редакции
          </label>
        </div>
      </div>
      <div class="mt-10">
        <h3 class="text-[#2B2C2E] text-2xl font-medium">Поиск по тегам</h3>
        <div
          class="grid grid-cols-1 xxs:grid-cols-2 lg:grid-cols-4 mt-6 gap-4 justify-items-center border-b-[1px] max-h-[180px] border-b-[#D5D6DB]/40 pb-6 overflow-hidden tags"
        >
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom" checked />
            <label
              for="custom"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom1" checked />
            <label
              for="custom1"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom3" checked />
            <label
              for="custom3"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom4" checked />
            <label
              for="custom4"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom6" checked />
            <label
              for="custom5"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom7" checked />
            <label
              for="custom7"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom8" checked />
            <label
              for="custom8"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom10" checked />
            <label
              for="custom9"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom11" checked />
            <label
              for="custom11"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom12" checked />
            <label
              for="custom12"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom13" checked />
            <label
              for="custom13"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom14" checked />
            <label
              for="custom14"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom15" checked />
            <label
              for="custom15"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom16" checked />
            <label
              for="custom16"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom17" checked />
            <label
              for="custom17"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom18" checked />
            <label
              for="custom18"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom19" checked />
            <label
              for="custom19"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom20" checked />
            <label
              for="custom20"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom21" checked />
            <label
              for="custom21"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
          <div class="flex items-center">
            <input type="checkbox" class="hidden peer" id="custom22" checked />
            <label
              for="custom22"
              class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
            >
              Анестезиология
            </label>
          </div>
        </div>
        <button class="mx-auto mt-3 cursor-pointer block more">
          <svg class="w-4 h-4 transition-all duration-300">
            <use xlink:href="img/sprite.svg#arrow-bottom"></use>
          </svg>
        </button>
      </div>
      <div class="flex justify-end items-center mt-2">
        <span class="text-[#9799A5] text-sm mr-3">0 Тэгов выбрано</span>
        <button
          class="h-[45px] w-[152px] rounded-md bg-[#9799A5] text-white text-[16px] hover:bg-[#888a94] transition-all duration-300"
        >
          Найти
        </button>
      </div>
    </form>
  </div>
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="articles"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content relative">
      <div
        class="flex-col w-full transition-all duration-500 font-helvetica mb-8"
      >
        <p class="text-[#5F626F] text-xl leading-7 mb-7">
          &#8592; Вернуться к поиску
        </p>

        <span class="text-2xl leading-7 text-[#9799A5]">
          НАВИГАЦИЯ ПО СТРАНИЦЕ</span
        >
        <div class="flex flex-col gap-5 text-xl mt-8">
          <p class="text-[#5F626F] font-medium">
            Британские ученые опять что-то доказали
          </p>
          <p class="text-[#9799A5]">Лимфоциты на страже здоровья глаз</p>

          <p class="text-[#9799A5]">Роговица в ежовых рукавицах</p>
        </div>
      </div>
      <div class="mb-5">
        <button class="js-modal-close" aria-label="Закрыть модальное окно">
          <a href="#start" class="text-[#556583] text-xl">В начало &#8593;</a>
        </button>
      </div>
    </div>
    <div class="tabs block" data-tabs="tab2">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">
            <svg class="w-5 h-5">
              <use xlink:href="img/sprite.svg#warning-tab"></use>
            </svg>
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">
            <svg class="w-5 h-5">
              <use xlink:href="img/sprite.svg#interface"></use>
            </svg>
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">
            <svg class="w-5 h-5">
              <use xlink:href="img/sprite.svg#file"></use>
            </svg>
          </button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel text-[#9799A5] font-helvetica">
          <p class="text-xl mt-9">ПОХОЖИЕ МАТЕРИАЛЫ</p>
          <p class="text-lg mt-6">Автор: Николай Крылатов</p>
          <p class="text-lg mt-4">Редакция: Никита Корчагин</p>
          <p class="text-lg mt-4">Оформление: Никанор Короленко</p>
          <p class="text-lg mt-4">Опубликована: 16.10.2022</p>
          <p class="text-xl mt-9">ТЭГИ</p>
          <div class="text-[#9799A5] mt-7 gap-2 flex flex-wrap font-helvetica">
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Психология
            </p>
            <p
              class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Анетезиология
            </p>
          </div>
          <p class="text-xl mt-9">МЕТРИКИ</p>
          <div class="mt-7">
            <p class="flex items-center text-lg">
              <svg class="w-[18px] h-[18px] mr-3">
                <use xlink:href="img/sprite.svg#note-search"></use>
              </svg>
              Просмотрено 100 раз
            </p>
            <p class="flex items-center text-lg mt-5">
              <svg class="w-[18px] h-[18px] mr-3">
                <use xlink:href="img/sprite.svg#see"></use>
              </svg>
              Просмотрено 100 раз
            </p>
            <p class="flex items-center text-lg mt-5">
              <svg class="w-[18px] h-[18px] mr-3">
                <use xlink:href="img/sprite.svg#save"></use>
              </svg>
              Сохранили 45 раз
            </p>
            <p class="flex items-center text-lg mt-5">
              <svg class="w-[18px] h-[18px] mr-3">
                <use xlink:href="img/sprite.svg#quote"></use>
              </svg>
              Цитировали 12 раз
            </p>
          </div>
        </div>
        <div class="tabs__panel text-[#9799A5] font-helvetica">
          <p class="text-xl mt-9">МАТЕРИАЛЫ СТАТЬИ</p>
          <img src="../img/data.png" alt="Данные" class="mt-7" />
          <p class="mt-4 italic text-lg">
            <span class="font-medium pb-5 not-italic"
              >Таблица 1. Данные исследования</span
            >
            Praesent ultricies lacus in ligula volutpat feugiat. In hac
            habitasse platea dictumst. In hac habitasse platea dictumst. Fusce
            luctus justo eget nisi hendrerit, quis aliquam arcu porta.
          </p>
          <div class="border-b-[1px] w-full pb-6 mt-4 border-b-[#E1E1E4]">
            <a class="text-[#3c3c3c] text-lg hover:underline" href="#">
              Показать в тексте
            </a>
          </div>

          <p class="font-medium pb-5 not-italic mt-7">
            Таблица 1. Данные исследования
          </p>
          <img src="../img/data.png" alt="Данные" class="" />
          <p class="mt-4 italic text-lg">
            Praesent ultricies lacus in ligula volutpat feugiat. In hac
            habitasse platea dictumst. In hac habitasse platea dictumst. Fusce
            luctus justo eget nisi hendrerit, quis aliquam arcu porta.
          </p>
          <a class="text-[#3c3c3c] text-lg mt-4 hover:underline" href="#">
            Показать в тексте
          </a>
        </div>
        <div class="tabs__panel">
          <p class="text-xl text-[#9799A5] mt-9">ПОХОЖИЕ МАТЕРИАЛЫ</p>
          <div class="mt-6">
            <h3 class="font-semibold text-xl text-[#323232] mt-5">
              В роговице обнаружены патрульные Т-лимфоциты
            </h3>
            <p class="text-[#52525B] text-lg mt-2">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
            <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
              Автор: Константин константинов
              <span class="flex items-center font-inter">
                28.06.2022 | 192
                <svg class="w-[15px] h-[15px]">
                  <use xlink:href="img/sprite.svg#see"></use>
                </svg>
                | 1600 слов
              </span>
              <div
                class="text-[#9799A5] mt-3 gap-2 grid grid-flow-col font-helvetica"
              >
                <p
                  class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  +2
                </p>
              </div>
            </div>
          </div>
          <div class="mt-6">
            <h3 class="font-semibold text-xl text-[#323232] mt-5">
              В роговице обнаружены патрульные Т-лимфоциты
            </h3>
            <p class="text-[#52525B] text-lg mt-2">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
            <div class="mt-5 text-[#9799A5] text-[17px] font-normal">
              Автор: Константин константинов
              <span class="flex items-center font-inter">
                28.06.2022 | 192
                <svg class="w-[15px] h-[15px]">
                  <use xlink:href="img/sprite.svg#see"></use>
                </svg>
                | 1600 слов
              </span>
              <div
                class="text-[#9799A5] mt-3 gap-2 grid grid-flow-col font-helvetica"
              >
                <p
                  class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  Психология
                </p>
                <p
                  class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
                >
                  +2
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="graph-modal__container lg:w-fit px-10 pt-10 pb-8"
    role="dialog"
    aria-modal="true"
    data-graph-target="category"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close top-10 right-10"
      aria-label="Закрыть модальное окно"
    ></button>
    <form class="graph-modal__content font-helvetica">
      <h2 class="text-4xl text-[#2B2C2E] font-medium">Добавить Категорию</h2>

      <div class="text-[#2B2C2E] flex flex-wrap gap-8 mt-14 max-w-[900px]">
        <label
          class="px-2 h-[40px] :bg-[#D1ECC1]/100 border-[#77C845] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
          for="category-filter"
        >
          <input
            type="checkbox"
            name="category"
            id="category-filter"
            class="w-[100px] cursor-pointer peer absolute opacity-0"
          />
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#77C845] opacity-80 m-0 mr-1 p-0"
          ></div>
          Инфографика
        </label>
        <label
          for="category-news"
          class="px-2 h-[40px] bg-[#BFDBFE] border-[#4D9BFD] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
        >
          <input
            type="checkbox"
            name="category"
            id="category-news"
            class="opacity-0 peer absolute w-[100px] cursor-pointer"
          />
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#4D9BFD] m-0 mr-1 p-0"
          ></div>
          Новость
        </label>
        <label
          for="category-video"
          class="px-2 h-[40px] bg-[#FFAFA9] border-[#F81717] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
        >
          <input
            type="checkbox"
            name="category"
            id="category-video"
            class="opacity-0 peer absolute w-[100px] cursor-pointer"
          />
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#F81717] m-0 mr-1 p-0"
          ></div>
          Видео
        </label>
        <label
          for="category-job"
          class="px-2 h-[40px] bg-[#89D7E0] border-[#008FA0] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
        >
          <input
            type="checkbox"
            name="category"
            id="category-job"
            class="opacity-0 peer absolute w-[100px] cursor-pointer"
          />
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#008FA0] m-0 mr-1 p-0"
          ></div>
          Вакансия
        </label>
        <label
          for="category-podcast"
          class="px-2 h-[40px] bg-[#FDE68A] border-[#FFB800] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
        >
          <input
            type="checkbox"
            name="category"
            id="category-podcast"
            class="opacity-0 peer absolute w-[100px] cursor-pointer"
          />
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#FFB800] m-0 mr-1 p-0"
          ></div>
          Подкаст
        </label>
        <label
          for="category-article"
          class="px-2 h-[40px] bg-[#F1BAEC] border-[#F83A95] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
        >
          <input
            type="checkbox"
            name="category"
            id="category-article"
            class="opacity-0 peer absolute w-[100px] cursor-pointer"
          />
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#F83A95] m-0 mr-1 p-0"
          ></div>
          Статья
        </label>

        <label
          for="category-event"
          class="px-2 h-[40px] bg-[#B7ADF5] border-[#7B67F5] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center cursor-pointer"
        >
          <input
            type="checkbox"
            name="category"
            id="category-event"
            class="opacity-0 peer absolute w-[100px] cursor-pointer"
          />
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#7B67F5] m-0 mr-1 p-0"
          ></div>
          Мероприятие
        </label>

        <label
          for="category-red"
          class="px-2 h-[40px] bg-white border-[#323232] opacity-50 has-[:checked]:opacity-80 border-2 rounded-lg flex flex-center"
        >
          <input
            type="checkbox"
            name="category"
            id="category-red"
            class="peer opacity-0 absolute w-[150px] cursor-pointer"
          />
          <img
            class="w-[18px] h-[16px] bg-white mr-[5px] ml-[5px] lg:ml-0"
            src="../img/svg/redaction-dark.svg"
            alt="redaction choice"
          />

          Выбор Редакции
        </label>
      </div>
    </form>
    <div class="w-full flex-center mt-16 mb-6">
      <button
        class="w-[152px] h-[45px] flex-center bg-[#9799A5] rounded-md text-white hover:bg-[#66676f] transition-all duration-300"
      >
        Применить
      </button>
    </div>
  </div>
</div>
<div
  class="graph-modal__container lg:w-fit"
  role="dialog"
  aria-modal="true"
  data-graph-target="tag"
>
  <button
    class="btn-reset js-modal-close graph-modal__close"
    aria-label="Закрыть модальное окно"
  ></button>
  <div class="graph-modal__content font-helvetica">
    <h2 class="text-4xl text-[#2B2C2E] font-medium">Поиск</h2>
    <div class="flex mt-8 items-center">
      <svg class="h-[24px] w-[24px]">
        <use xlink:href="img/sprite.svg#modal-search"></use>
      </svg>
      <input
        type="text"
        class="border-l-[1px] border-l-[#9799A5] pl-1 ml-3 w-full"
        placeholder="Введите поисковый запрос"
      />
    </div>
    <div class="mt-10">
      <h3 class="text-[#2B2C2E] text-2xl font-medium">Поиск по тегам</h3>
      <div
        class="grid grid-cols-1 xxs:grid-cols-2 lg:grid-cols-4 mt-6 gap-4 justify-items-center border-b-[1px] border-b-[#D5D6DB]/40 pb-6 tags"
      >
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag" checked />
          <label
            for="tag"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag1" checked />
          <label
            for="tag1"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag3" checked />
          <label
            for="tag3"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag4" checked />
          <label
            for="tag4"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag5" checked />
          <label
            for="tag5"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag6" checked />
          <label
            for="tag6"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag7" checked />
          <label
            for="tag7"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag8" checked />
          <label
            for="tag8"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag9" checked />
          <label
            for="tag9"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag10" checked />
          <label
            for="tag10"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag11" checked />
          <label
            for="tag11"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag12" checked />
          <label
            for="tag12"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag13" checked />
          <label
            for="tag13"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag14" checked />
          <label
            for="tag14"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag15" checked />
          <label
            for="tag15"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag16" checked />
          <label
            for="tag16"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag17" checked />
          <label
            for="tag17"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag18" checked />
          <label
            for="tag18"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag19" checked />
          <label
            for="tag19"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
        <div class="flex items-center">
          <input type="checkbox" class="hidden peer" id="tag20" checked />
          <label
            for="tag20"
            class="relative flex h-8 cursor-pointer pl-8 select-none text-slate-400 before:absolute before:left-0 before:flex before:h-6 before:w-6 before:items-center before:justify-center before:rounded-[4px] before:border before:border-[#323232]/80 before:bg-white before:transition-[background-color] before:duration-300 before:ease-in before:content-[''] peer-checked:before:text-[#323232]/80 peer-checked:before:content-['✔'] peer-checked:before:font-bold peer-checked:before:transition-[background-color] peer-checked:before:duration-300 peer-checked:before:ease-in"
          >
            Анестезиология
          </label>
        </div>
      </div>
      <button class="mx-auto mt-3 cursor-pointer block more">
        <svg class="w-4 h-4 transition-all duration-300">
          <use xlink:href="img/sprite.svg#arrow-bottom"></use>
        </svg>
      </button>
    </div>
    <div class="flex justify-end items-center mt-2">
      <button
        class="h-[45px] w-[152px] rounded-md bg-[#9799A5] text-white text-[16px] hover:bg-[#888a94] transition-all duration-300"
      >
        Найти
      </button>
    </div>
  </div>
</div>
