<section id="search_cards" class="wrapper flex gap-8">
  @include('./filters.html')
  <div class="w-full flex flex-col">
    <div class="flex flex-between">
      <div class="flex gap-5 font-helvetica text-[#9799A5] w-full">
        <p class="font-medium text-[#556583] border-b-[3px] border-b-[#556583]">
          Сначала новые
        </p>
        <p>Сначала старые</p>
        <p>Топ за месяц</p>
        <p>Топ за год</p>
      </div>
      <div class="flex flex-between w-full max-w-[300px]">
        <div class="font-helvetica">
          Самое популярное
          <button>
            <svg class="w-[6px] h-[14px]">
              <use xlink:href="img/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <button>
            <svg class="w-[6px] h-[14px]">
              <use xlink:href="img/sprite.svg#arrow-up"></use>
            </svg>
          </button>
        </div>
        <button>
          <svg class="w-6 h-6">
            <use xlink:href="img/sprite.svg#grid"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-8 mt-8">
      <div class="relative flex flex-col">
        <img src="./img/monkey.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/eleph.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/science.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/robot.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/monkey.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/science.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/eleph.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/monkey.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/robot.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/monkey.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/eleph.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/monkey.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/robot.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/science.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col">
        <img src="./img/monkey.png" alt="top-material-img" />
        <div class="absolute left-4 top-4 flex flex-col font-helvetica">
          <div
            class="p-1 h-[30px] w-fit bg-white/55 border-none border-2 rounded-lg flex items-center cursor-pointer"
          >
            <div
              class="w-[10px] h-[10px] rounded-full bg-[#B3DF98] m-0 mr-1 p-0"
            ></div>
            Инфографика
          </div>
          <div
            class="p-1 h-[30px] w-fit bg-white/80 border-none border-2 rounded-lg flex items-center cursor-pointer text-[#556583] mt-3"
          >
            Материал спонсирован
          </div>
        </div>
        <h3
          class="font-medium text-lg font-helvetica text-black/80 mt-5 leading-5"
        >
          В роговице обнаружены патрульные Т-лимфоциты
        </h3>
        <p class="text-[#5F626F] text-[16px] leading-5 mt-2 text-justify">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mt-5 text-[#9799A5] text-[16px] font-normal font-inter">
          28.06.2022 | Лев Рублёв
          <span class="flex items-center">
            <svg class="w-[15px] h-[15px] mr-1">
              <use xlink:href="img/sprite.svg#see"></use>
            </svg>
            192 |
            <svg class="w-[15px] h-[15px] mx-1">
              <use xlink:href="img/sprite.svg#t"></use>
            </svg>
            1,6
          </span>
          <div
            class="text-[#9799A5] mt-3 flex items-center gap-4 font-helvetica"
          >
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
            >
              Биология
            </p>
            <p
              class="p-1 h-[30px] w-fit border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              Энтомология
            </p>
            <p
              class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
            >
              +2
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full mt-12">
      <button
        class="w-full rounded-md bg-[#556583] border-none text-white font-helvetica text-[16px] flex-center h-[45px]"
      >
        Показать еще
      </button>
      <div class="w-full flex-between mt-9">
        <button class="text-[#556583] flex-center">В начало</button>
        <div class="w-full max-w-[400px] flex-between">
          <button class="text-[#556583] flex-center">
            <svg class="w-6 h-6">
              <use xlink:href="img/sprite.svg#angle-left"></use>
            </svg>
            Назад
          </button>
          Страница <input type="number" max="85" class="h-7 w-8" /> из 85
          <button class="text-[#556583] flex-center">
            Далее

            <svg class="w-6 h-6">
              <use xlink:href="img/sprite.svg#angle-right"></use>
            </svg>
          </button>
        </div>
        <button class="text-[#556583]">В конец</button>
      </div>
    </div>
  </div>
</section>
