<section id="search_cards" class="wrapper flex flex-col md:flex-row gap-8">
  @include('./filters.html')
  <div class="w-full flex flex-col">
    <div class="flex flex-col gap-5 xs:gap-0 xs:flex-row xs:flex-between">
      <div class="flex gap-5 font-helvetica text-[#9799A5] w-full">
        <button
          class="hover:text-[#556583] hover:font-medium hover:border-b-[3px] border-b-[#556583] transition-all duration-300"
        >
          Сначала новые
        </button>
        <button
          class="hover:text-[#556583] hover:font-medium hover:border-b-[3px] border-b-[#556583] transition-all duration-300"
        >
          Сначала старые
        </button>
        <button
          class="hover:text-[#556583] hover:font-medium hover:border-b-[3px] border-b-[#556583] transition-all duration-300"
        >
          Топ за месяц
        </button>
        <button
          class="hover:text-[#556583] hover:font-medium hover:border-b-[3px] border-b-[#556583] transition-all duration-300"
        >
          Топ за год
        </button>
      </div>
      <div class="flex flex-between w-full max-w-[300px]">
        <div class="font-helvetica">
          Самое популярное
          <button>
            <svg class="w-[6px] h-[14px]">
              <use xlink:href="img/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <button>
            <svg class="w-[6px] h-[14px]">
              <use xlink:href="img/sprite.svg#arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="flex gap-5">
          <button class="apply-inline">
            <svg class="w-6 h-6">
              <use xlink:href="img/sprite.svg#grid-2"></use>
            </svg>
          </button>
          <button class="apply-grid">
            <svg class="w-6 h-6">
              <use xlink:href="img/sprite.svg#grid"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    @include('./classicArchiveGrid.html') @include('./inlineArchiveGrid.html')

    <div class="flex flex-col w-full mt-12">
      <button
        class="w-full rounded-md bg-[#556583] hover:bg-[#434f67] hover:font-medium transition-all duration-500 border-none text-white font-helvetica text-[16px] flex-center h-[45px]"
      >
        Показать еще
      </button>
      <div class="w-full flex-between mt-9">
        <button
          class="text-[#556583] xs:flex-center hidden xs:flex hover:text-[#434f67] hover:font-medium transition-all duration-500"
        >
          <svg class="w-6 h-6">
            <use xlink:href="img/sprite.svg#two-arrows-left"></use>
          </svg>
          В начало
        </button>
        <div class="w-full xs:max-w-[400px] flex-between">
          <button
            class="text-[#556583] flex-center hover:text-[#434f67] hover:font-medium transition-all duration-500"
          >
            <svg class="w-6 h-6">
              <use xlink:href="img/sprite.svg#angle-left"></use>
            </svg>
            Назад
          </button>
          Страница <input type="number" max="85" class="h-7 w-8" value="1" /> из
          85
          <button
            class="text-[#556583] flex-center hover:text-[#434f67] hover:font-medium transition-all duration-500"
          >
            Далее

            <svg class="w-6 h-6">
              <use xlink:href="img/sprite.svg#angle-right"></use>
            </svg>
          </button>
        </div>
        <button
          class="text-[#556583] xs:flex-center hidden xs:flex hover:text-[#434f67] hover:font-medium transition-all duration-500"
        >
          В конец

          <svg class="w-6 h-6">
            <use xlink:href="img/sprite.svg#two-arrows-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
