<section id="video" class="mt-24 wrapper">
  <div class="w-full flex items-center flex-wrap xs:flex-nowrap relative">
    <div
      class="w-[20px] h-[20px] rounded-full bg-[#F81717] absolute -left-10"
    ></div>
    <h2 class="title xs:whitespace-nowrap">Видео</h2>
    <span
      class="h-[1px] bg-[#9799A5] w-full ml-8 opacity-50 hidden xs:block"
    ></span>
    <button class="xs:ml-8 see-button">
      <svg
        class="w-[40px] h-[40px] opacity-0 hidden transition-all duration-300"
      >
        <use xlink:href="img/sprite.svg#eye"></use>
      </svg>
      <svg class="w-[40px] h-[40px] opacity-100 transition-all duration-300">
        <use xlink:href="img/sprite.svg#unsee"></use>
      </svg>
    </button>
  </div>
  <div
    class="accordion-content grid grid-cols-1 overflow-hidden lg:overflow-visible gap-16 transition-all duration-700 ease-in-out grid-rows-[1fr] opacity-100 relative one-col"
  >
    <div
      class="w-[2px] h-[123%] bg-linear-lightred-lightyellow hidden lg:block absolute -left-[30px] -top-7 z-[999]"
    ></div>
    <div class="flex flex-col overflow-hidden">
      <p class="mt-3 text-base text-[#9CA3AF]">
        Выбранные Тэги для данной категории материала
      </p>
      <div
        class="grid text-[#9799A5] mt-3 max-w-[700px] gap-2 grid-cols-3 xs:grid-cols-4 2xl:grid-cols-5 font-helvetica"
      >
        <p
          class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
        >
          Биология
        </p>
        <p
          class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
        >
          Фармакология
        </p>
        <p
          class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
        >
          Психология
        </p>
        <p
          class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
        >
          Энтомология
        </p>

        <p
          class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
        >
          +
        </p>
      </div>
    </div>

    <div class="swiper mySwiper">
      <div class="flex items-center mb-2 font-helvetica">
        <div
          class="p-1 h-[30px] w-[90px] bg-[#FFAFA9] border-[#F81717] border-2 rounded-lg flex flex-center cursor-pointer"
        >
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#F81717] m-0 mr-1 p-0"
          ></div>
          Видео
        </div>
        <span class="ml-6 font-medium text-xl">
          Все видео материалы &#8594;</span
        >
      </div>
      <div class="swiper-wrapper swiper-wrapper-main">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="flex flex-col w-full overflow-hidden">
            <div class="video">
              <a
                class="video__link"
                href="https://www.youtube.com/watch?v=ANkxRGvl1VY"
              >
                <picture>
                  <source
                    srcset="
                      https://i.ytimg.com/vi_webp/ANkxRGvl1VY/maxresdefault.webp
                    "
                    type="image/webp"
                  />
                  <img
                    class="video__media"
                    src="https://i.ytimg.com/vi/ANkxRGvl1VY/maxresdefault.jpg"
                    alt="CAR-T-клетки как краеугольный камень в терапии рака простаты"
                  />
                </picture>
              </a>
              <button class="video__button" aria-label="Запустить видео">
                <svg width="68" height="48" viewBox="0 0 68 48">
                  <path
                    class="video__button-shape"
                    d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
                  ></path>
                  <path
                    class="video__button-icon"
                    d="M 45,24 27,14 27,34"
                  ></path>
                </svg>
              </button>
            </div>
            <h3 class="font-semibold text-[27px] text-[#323232] mt-5">
              CAR-T-клетки как краеугольный камень в терапии рака простаты
            </h3>
            <div
              class="grid text-[#9799A5] mt-3 max-w-[700px] gap-2 grid-cols-2 xs:grid-cols-4 2xl:grid-cols-5 font-helvetica"
            >
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center flex-center"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex flex-col w-full overflow-hidden">
            <div class="video">
              <a
                class="video__link"
                href="https://www.youtube.com/watch?v=ANkxRGvl1VY"
              >
                <picture>
                  <source
                    srcset="
                      https://i.ytimg.com/vi_webp/ANkxRGvl1VY/maxresdefault.webp
                    "
                    type="image/webp"
                  />
                  <img
                    class="video__media"
                    src="https://i.ytimg.com/vi/ANkxRGvl1VY/maxresdefault.jpg"
                    alt="CAR-T-клетки как краеугольный камень в терапии рака простаты"
                  />
                </picture>
              </a>
              <button class="video__button" aria-label="Запустить видео">
                <svg width="68" height="48" viewBox="0 0 68 48">
                  <path
                    class="video__button-shape"
                    d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
                  ></path>
                  <path
                    class="video__button-icon"
                    d="M 45,24 27,14 27,34"
                  ></path>
                </svg>
              </button>
            </div>
            <h3 class="font-semibold text-[27px] text-[#323232] mt-5">
              CAR-T-клетки как краеугольный камень в терапии рака простаты
            </h3>
            <div
              class="grid text-[#9799A5] mt-3 max-w-[700px] gap-2 grid-cols-2 xs:grid-cols-4 2xl:grid-cols-5 font-helvetica"
            >
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center flex-center"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex flex-col w-full overflow-hidden">
            <div class="video">
              <a
                class="video__link"
                href="https://www.youtube.com/watch?v=ANkxRGvl1VY"
              >
                <picture>
                  <source
                    srcset="
                      https://i.ytimg.com/vi_webp/ANkxRGvl1VY/maxresdefault.webp
                    "
                    type="image/webp"
                  />
                  <img
                    class="video__media"
                    src="https://i.ytimg.com/vi/ANkxRGvl1VY/maxresdefault.jpg"
                    alt="CAR-T-клетки как краеугольный камень в терапии рака простаты"
                  />
                </picture>
              </a>
              <button class="video__button" aria-label="Запустить видео">
                <svg width="68" height="48" viewBox="0 0 68 48">
                  <path
                    class="video__button-shape"
                    d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
                  ></path>
                  <path
                    class="video__button-icon"
                    d="M 45,24 27,14 27,34"
                  ></path>
                </svg>
              </button>
            </div>
            <h3 class="font-semibold text-[27px] text-[#323232] mt-5">
              CAR-T-клетки как краеугольный камень в терапии рака простаты
            </h3>
            <div
              class="grid text-[#9799A5] mt-3 max-w-[700px] gap-2 grid-cols-2 xs:grid-cols-4 2xl:grid-cols-5 font-helvetica"
            >
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center flex-center"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="swiper-button-prev swiper-button-prev-main"
      id="video-prev"
    ></div>
    <div
      class="swiper-button-next swiper-button-prev-main"
      id="video-next"
    ></div>
  </div>
</section>
