<section id="video" class="mt-24 wrapper">
  <div class="w-full flex items-center flex-wrap xs:flex-nowrap relative">
    <div
      class="w-[20px] h-[20px] rounded-full bg-[#F81717] absolute -left-10"
    ></div>
    <h2 class="title xs:whitespace-nowrap">Новости</h2>
    <span
      class="h-[1px] bg-[#9799A5] w-full ml-8 opacity-50 hidden xs:block"
    ></span>
    <button class="xs:ml-8 see-button">
      <svg class="w-[40px] h-[40px]">
        <use xlink:href="img/sprite.svg#unsee"></use>
      </svg>
    </button>
  </div>
  <div
    class="accordion-content grid grid-cols-1 overflow-hidden lg:overflow-visible gap-16 transition-all duration-700 ease-in-out grid-rows-[1fr] opacity-100 relative one-col"
  >
    <div
      class="w-[2px] h-[123%] bg-linear-lightred-lightyellow hidden lg:block absolute -left-[30px] -top-7 z-[999]"
    ></div>
    <div class="flex flex-col overflow-hidden">
      <p class="mt-3 text-base text-[#9CA3AF]">
        Выбранные Тэги для данной категории материала
      </p>
      <div
        class="grid text-[#9799A5] mt-3 max-w-[700px] gap-2 grid-cols-3 xs:grid-cols-4 2xl:grid-cols-5"
      >
        <p
          class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
        >
          Биология
        </p>
        <p
          class="px-2 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
        >
          Фармакология
        </p>
        <p
          class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center"
        >
          Психология
        </p>
        <p
          class="p-1 h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
        >
          Энтомология
        </p>

        <p
          class="w-[30px] h-[30px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
        >
          +
        </p>
      </div>
    </div>

    <div class="swiper mySwiper">
      <div class="flex items-center mb-2">
        <div
          class="p-1 h-[30px] w-[90px] bg-[#FFAFA9] border-[#F81717] border-2 rounded-lg flex flex-center cursor-pointer"
        >
          <div
            class="w-[10px] h-[10px] rounded-full bg-[#F81717] m-0 mr-1 p-0"
          ></div>
          Видео
        </div>
        <span class="ml-6 font-bold text-xl"> Все видео материалы </span>
      </div>
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="flex flex-col overflow-hidden">
            <iframe
              src="https://www.youtube.com/embed/pmqz-gFq1XU"
              title="Minecraft music but Winter Cabin Ambience..."
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              class="w-full h-[500px] bg-cover"
            ></iframe>
            <h3 class="font-semibold text-[27px] text-[#323232] mt-5">
              CAR-T-клетки как краеугольный камень в терапии рака простаты
            </h3>
            <div
              class="grid text-[#9799A5] mt-3 max-w-[700px] gap-2 grid-cols-3 xs:grid-cols-4 2xl:grid-cols-5"
            >
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center flex-center"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex flex-col overflow-hidden">
            <iframe
              width="1280"
              height="720"
              src="https://www.youtube.com/embed/oC4o0litO-4"
              title="wake up, you&#39;re dreaming..."
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              class="w-full h-[500px] bg-cover"
            ></iframe>
            <h3 class="font-semibold text-[27px] text-[#323232] mt-5">
              CAR-T-клетки как краеугольный камень в терапии рака простаты
            </h3>
            <div
              class="grid text-[#9799A5] mt-3 max-w-[700px] gap-2 grid-cols-3 xs:grid-cols-4 2xl:grid-cols-5"
            >
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center flex-center"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex flex-col overflow-hidden">
            <iframe
              width="1280"
              height="720"
              src="https://www.youtube.com/embed/_F6Bsx3DxMw"
              title="just close your eyes. ( w/ minecraft music ambience)"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              class="w-full h-[500px] bg-cover"
            ></iframe>
            <h3 class="font-semibold text-[27px] text-[#323232] mt-5">
              CAR-T-клетки как краеугольный камень в терапии рака простаты
            </h3>
            <div
              class="grid text-[#9799A5] mt-3 max-w-[700px] gap-2 grid-cols-3 xs:grid-cols-4 2xl:grid-cols-5"
            >
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center flex-center"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
              <p
                class="p-1 h-[20px] border-[#9799A5] border-2 rounded-lg flex-center cursor-pointer"
              >
                Психология
              </p>
            </div>
          </div>
        </div>
        ...
      </div>
    </div>
    <div class="swiper-button-prev" id="video-prev"></div>
    <div class="swiper-button-next" id="video-next"></div>
  </div>
</section>
