//tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";


.burger {@include burger}
@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }
  .header-wrapper{
    @apply max-w-[1800px] lg:mx-auto p-5 md:px-10  w-full;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center ;
  }
  .card-bg{
    @apply bg-no-repeat bg-[length:100%_100%] cursor-pointer ;
  }
  .text-default{
    @apply text-[#323232] dark:text-white
  }
  .burger-styles {
    @apply dark:text-white before:text-white after:text-white ;
  }
  .title{
    @apply text-[28px] mr-10 md:mr-0 md:text-[34px] xl:text-[48px] font-helvetica font-medium m-0 p-0;
  }
}
